// Colores

$white: #fff;
$oliver: #8E8E8E;
$concrete: #F4F2F3;
$pink-swan: #C4B4BC;


// Tipografía

$lato: 'Lato', sans-serif;

$light: 300;
$black: 900;

$xxx-large: 50;
$xx-large: 36;
$x-large: 32;
$large: 21;
$medium: 18;
$small: 16;
$x-small: 14;